* {
  border: 0;
  padding: 0;
  margin: 0;
}

#html {
  font-family: arial;
  font-size: 62.5%;
}
header {
  font-size: 1.8rem;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  padding-top: 2rem;
  position: fixed;
  width: 100%;
}
footer {
  font-size: 1.8rem;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}
h2 {
  font-size: 2rem;
}
figure {
  text-align: center;
}

.conteudo {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 1.5rem;
  text-align: justify;
  margin: 0 auto;
  max-width: 95%;
}
.conteudo-topo {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 1.5rem;
  text-align: justify;
  margin: 0 auto;
  max-width: 95%;
  padding-top: 10rem;
}
.imagem-site {
  border-radius: 50px;
  width: 30%;
  height: 10%;
}
@media (min-width: 280px) and (max-width: 920px) {
  .imagem-site {
    border-radius: 50px;
    width: 90%;
    height: 70%;
  }
}
